.main {
  display: flex;
}

.container {
  height: calc(100vh - 50px);
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.container h3 {
  font-size: 2rem;
}

.container h3 small {
  font-size: 1rem;
  font-weight: 200;
}

.container table {
  margin-top: 2rem;
  border-spacing: 4px;
  border-collapse: separate;
}

.container table thead td {
  padding: 1rem;
}

.container table tbody td {
  background: var(--white);
  padding: 10px;
}

.container table tbody td:first-child {
  font-size: 1.5rem;
  width: 30px;
  text-align: center;
}

.container table tbody .loading p {
  color: var(--blue);
  text-align: center;
  padding: 1.5rem;
}

.profileContainer {
  display: flex;
  align-items: center;
}

.profileContainer > img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.profileContainer div {
  margin-left: 1.5rem;
}

.profileContainer div strong {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--title)
}

.profileContainer div p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.profileContainer div p img {
  margin-right: 0.5rem;
}